<!DOCTYPE html>
<html lang = "eng">
<head>
    <meta charset = "UTF-8">
    <title> Assign Order </title>
</head>
<body>
    <h2>Confirm Order</h2>
        <form method = "POST">
            <div>
                <label for = "orderDate"> Order Date: </label>
                <h> <%=date%> </h>
                <br><br>
                <label for = "deliveryLocation"> Delivery Location: </label>
                <h> <%=location%> </h>
                <br><br>
                <label for = "time"> Time: </label>
                <h> <%=time%> </h>
                <br><br>
                <label for = "driver"> Driver: </label>
                <h> <%=driver%> </h>
                <br><br>
                <label for = "pork"> Meat Type: </label>
                <h> <%=pork%>, </h>
                <label for = "weight"> </label>
                <h> <%=weight%> kg</h>
            </div>
            <br>
                <button type = "submit"> Confirm </button>
        </form>
</body>
</html>