<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> Fresh Pork </title>
</head>
<body>
<form method = "POST">
    <div>Your Order:</div>
    <div>
        <label for = "ordernumber"> Order Number: </label>
        <h> <%=ordernumber%> </h>
        <br><br>
        <label for = "orderDate"> Order Date: </label>
        <h> <%=date%> </h>
        <br><br>
        <label for = "deliveryLocation"> Delivery Location: </label>
        <h> <%=location%> </h>
        <br><br>
        <label for = "time"> Time: </label>
        <h> <%=time%> </h>
        <br><br>
        <label for = "driver"> Driver: </label>
        <h> <%=driver%> </h>
        <br><br>
        <label for = "pork"> Meat Type: </label>
        <h> <%=pork%>, </h>
        <label for = "weight"> </label>
        <h> <%=weight%> kg</h>
        <br><br>
        <button type = "submit" name="button" value="Back"> Back </button><br>
    </div>
</form>
</body>
</html>